.dropdown-container, .number {
  list-style-type: none;  
  border: 1px solid var(--border-color);
  margin-left: 0; 
  border-radius: var(--raduis);
  position: relative;
  transition: all 1s ease;
  max-height: 47px;
  overflow: hidden;
}

.dropdown-container.open {
  max-height: 1000px;
}

.dropdown-container ul{
  padding: 10px;
  list-style-type: none;  
  margin: 0;
  padding: 0;
}

li {
  border-top: 1px solid var(--border-color);
  margin: 0;
  font-size: var(--text);
  padding: 10px;
}

input.selected {
  border: none;
  padding: 15px;
  width: 100%;
  text-align: left;
  box-sizing: content-box;
  background-color: transparent;
}

.icon {
  color: rgba(0, 79, 147, 0.5);
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.3s ease;
}

.icon.up {
  transform: rotateZ(180deg);
}


.number {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  max-height: 48px;
}